.hero_title {
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-top: 74px;
}

.hero_text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 2.0;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;
    margin-top: 25px;
}

.hero_button {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;  
    border-radius: 74px;  
    background-color: #292929;
    padding: 18px 42px 18px 42px;
    border: none;
    margin-top: 30px;
}

.hero_image{
    margin-top: 41px;
    margin-left: 52px;
}