.search_input {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #202020;
    padding: 15px 830px 16px 35px;
    background-color: #E2E5E9;
    border-radius: 26px;
    border: 1px solid #E2E5E9;
    margin-top: 30px;
}

.search {
    display: flex;
}

.menu-button {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    background-color: #2A2B2C;
    border-radius: 108px;
    padding: 17px 31px 14px 20px;
    border: none;
    margin-right: 31px;
    margin-top: 30px;
}