.products_text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    margin-bottom: 11px;
}

.col-2 {
    background-color: #EDEDED;
    border-radius: 15px;
    margin-top: 20px;
    
    
}

.icon {
    padding: 13px 55px 10px 55px;
}

.products_title {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #2B2A29;
    margin-top: 68px;
    margin-left: 155px;
}

.col-12{
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(6, 1fr);
}
.col-2 {
    width: 100px;
    padding: 24px 52px 24px 52px;
}
.container_3 {
    width: 1440px;
    margin: 0 auto;
}